[submodule "themes/hugo-profile"]
	path = themes/hugo-profile
	url = https://github.com/gurusabarish/hugo-profile.git
[submodule "themes/pico"]
	path = themes/pico
	url = https://github.com/negrel/hugo-theme-pico.git
