/* light mode */
.light > * {
  background-color: var(--background-color);
  color: var(--text-color);
}

/* dark mode */
.dark {
  --background-color: var(--background-color-dark);
  --secondary-background-color: var(--secondary-background-color-dark);
  --text-color: var(--text-color-dark);
  --text-secondary-color: var(--text-secondary-color-dark);
  --primary-color: var(--primary-color-dark);
  --secondary-color: var(--secondary-color-dark);
}

.text-secondary {
  color: var(--text-secondary-color);
}

#theme-toggle:focus {
  outline: 0;
}

#theme-toggle svg {
  height: 18px;
}

button#theme-toggle {
  border: none;
  font-size: 26px;
  margin: auto 4px;
}

body.dark #moon {
  vertical-align: middle;
  display: none;
}

body:not(.dark) #sun {
  display: none;
}

body *::selection {
  color: var(--text-color);
  background-color: var(--primary-color);
}
