.navbar {
    .navbar-brand {

        font-weight: bold;
        
        .navbar-icon {
            margin-right: 0.2em;
        }

    }

    .primary-font {
        font-family: Inter, sans-serif;
    }
}