.navbar {
  .navbar-brand {
    font-weight: bold;

    .navbar-icon {
      margin-right: 0.2em;
    }
  }

  .primary-font {
    font-family: Inter, sans-serif;
  }

  .nav-item {
    margin-left: 0.5em;
  }
}
