{{ if .Site.Params.contact.enable | default false }}
<section id="contact" class="py-5">
    <div class="container">
        <h3 class="text-center">{{ .Site.Params.contact.title | default "Get in Touch" }}</h3>
        <div class="px-0 px-md-5 px-lg-5">
            <div class="row justify-content-center px-md-5">
                <div class="col-md-8 py-3">
                    
                    <div class="text-center">
                        {{ .Site.Params.contact.content | emojify | markdownify }}
                    </div>

                    <div class="text-center pt-3">
                        {{ if .Site.Params.contact.email }}
                        <span class="px-2">
                            <a href="mailto:{{ .Site.Params.contact.email }}" class="btn">
                                {{ .Site.Params.contact.btnName | default "Get in Touch" }}
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            </a>
                        </span>
                        {{ end }}
                        {{ if .Site.Params.contact.socialButtons.linkedin }}
                        <span class="px-2">
                            <a href="{{ .Site.Params.contact.socialButtons.linkedin }}" aria-label="linkedin" class="btn">
                                Connect with me!
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </span>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}